.header {
    background-color: white;
    /* or "position: relative" if its parent element is positioned */
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    height: 101px;
    margin-left: 20px;
    margin-right: 20px;
}

.header__elements {
    display: flex;
    justify-content: space-between;

}

.header__elements_navlink {
    display: flex;
    margin-left: 59px;
    margin-top: 40px;
    margin-bottom: 41px;
    height: 20px;
    width: 376px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.header__elements_navlink p:not(:first-child) {
    margin-left: 20px;
}


.header__elements__button {
    margin-top: 32px;
    margin-right: 33px;
    margin-bottom: 33px;
    height: 36px;
    width: 148px;
    display: flex;
    border: 1px solid #000000;

}

.header__elements__button__text {
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
}

.header__elements__button__arrow {
    margin-left: 16px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    width: 18px;
    height: 14px;
    color: #221F20;
    ;
}